@import "./src/scss/securiry";

.footer{
  background: $colorBlue;

  &__contain {
    max-width: 1440px;
    margin: auto;
    padding: 43px 60px 63px;
    display: grid;
    grid-gap: 40px;
    font-size: 14px;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    @media (max-width: 1366px) {
      margin: 80px auto 0;
    }

    @media (max-width: 1024px) {
      padding: 20px 16px;
    }
  }

  &__logo{
    display: flex;
    grid-gap: 27px;
    align-items: flex-start;

    img{
      width: fit-content;
    }
  }

  &__social{
    display: flex;
    grid-gap: 8px;

    img{
      width: fit-content;
    }
  }

  &__chapter{
    display: grid;
    grid-gap: 8px;




    span:hover{
      cursor: pointer;
      color: $colorFuchsia;
    }

    &-img{
      display: grid;
      height: 100%;
      align-content: space-between;

      @media (max-width: 1024px) {
        grid-column: 1/-1;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
      }

    }

  }

  &__title{
    font-size: 16px;
    font-weight: 700;
  }
}