@import "./src/scss/securiry";

.history{
  background: $colorBlue;
  border-radius: 40px;


&__info {
  max-width: 710px;

  @media (max-width: 1366px) {
    max-width: 100%;
  }
}

  &__title{
    font-size: 20px;
    font-weight: 500;
    background: $colorGradientBlueFuchsia;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
  }

  &__heading{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 32px;

    @media (max-width: 1024px) {
      font-size: 36px;
    }
  }

  &__content{
    max-width: 1440px;
    width: 100%;
    padding: 87px 60px 103px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    @media (max-width: 1366px) {
      grid-template-columns: 1fr ;
    }

    @media (max-width: 1024px) {
      padding: 16px;
    }
  }

  &__text{
    margin-bottom: 16px;
  }

  &__images{
    position: relative;

    &-mobile{
      display: none;

      @media (max-width: 1366px) {
        display: block;
        height: fit-content;
        width: fit-content;
        margin: 0 auto 16px;
      }
    }

    &-desktop{
      @media (max-width: 1366px) {
        display: none;
      }
    }


    img{
      position: absolute;

      @media (max-width: 1366px) {
        position: relative;
      }
    }


    &-1{
      max-width: 134px;
      left: 51%;
      top: -10%;
    }
    &-2{
      max-width: 107px;
      left: 17%;
      top: 20%;
    }
    &-3{
      max-width: 272px;
      left: 36%;
      top: 27%;
    }
    &-4{
      max-width: 194px;
      left: 4%;
      top: 51%;
    }
    &-5{
      max-width: 155px;
      left: 80%;
      top: 30%;
    }
    &-6{
      max-width: 154px;
      left: 44%;
      top: 86%;
    }
  }

  @media (max-width: 1024px) {
    .button {
      width: 100%;
      text-align: center;
    }
  }
}