$colorBase: #32334C;
$colorGradientBlueFuchsia: linear-gradient(45deg, #2D1178, #DB2D8F);
$colorWhite: #FFFFFF;
$colorFuchsia: #9D097C;
$colorFuchsiaHover: #CD1BA5;
$colorBlue: #C6D9DD;
$colorGray: #676971;
$colorPink: #FA9397;
$coloBeige: #F6EEE8;

$desktop: 1920px;
$table: 1366px;
$mobile: 320px;

$padding-220: 220px;
$padding-157: 157px;
$padding-173: 173px;
$padding-32: 32px;
$padding-28: 28px;
$padding-16: 16px;
$padding-12: 12px;
$padding-4: 4px;

@mixin title {
  background: $colorGradientBlueFuchsia;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  margin: auto;
  width: fit-content;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 24px;
    margin: 0 0;
  }
}
